<html>
    <head>
        <title>Create Brand</title>
        <style>
            body {
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;
                margin: 0 0 0 8rem;
            }
    
            form {
    
                width: 60%;
                border: 1px solid #ccc;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
                padding: 1rem;
                border-radius: 0.5rem;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
    
            }
    
            form button {
    
                width: 8rem;
                padding: 0.5rem 2rem;
                border: 1px solid black;
                background: none;
                border-radius: 0.5rem;
                transition: background-color 0.3s;
    
            }
    
            form button:hover {
    
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.2);
    
            }
    
            form input {
    
                width: 8rem;
                padding: 0.25rem;
                border-radius: 0.25rem;
    
            }
    
            form input:active {
    
                border: 1px solid #ccc;
    
            }
        </style>
    </head>
    <body>
        <h1>Joe's Fitness Supps</h1>
        <form action="/brands" method="POST">

            <label for="brand">New Brand Name</label>
            <input type="text" name="brand" id="brand">
            <button type="submit">Add</button>

        </form>

    </body>
</html>