<html>
    <head>
        <title></title>
    </head>
    <body>
        
        <h2>Add a product for <%= brand.brand %></h2>

        <form action="products" method="POST">

            <label for="product">New Product Name</label>
            <input type="text" name="product" id="product">

            <label for="price">Price</label>
            <input type="number" name="price" id="price">

            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>

            <button type="submit">Add</button>

        </form>

    </body>
</html>