<html>
    <head>
        <title></title>
    </head>
    <body>
        
        <form action="/brands" method="POST">

            <label for="brand">New Brand Name</label>
            <input type="text" name="brand" id="brand">
            <button type="submit">Add</button>

        </form>

    </body>
</html>